<script src="https://d3js.org/d3.v4.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ site.versions.highlightjs }}/styles/github.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ site.versions.highlightjs }}/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ site.versions.highlightjs }}/languages/q.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/plotly.js/{{ site.versions.plotly }}/plotly.min.js"></script>
<script src="/assets/js/posts.js"></script>
