---
---

@import "{{ site.theme }}";

.wrapper { max-width: -webkit-calc(1000px - (30px * 2)); max-width: calc(1000px - (30px * 2)); }
@media screen and (max-width: 1000px) {
  .wrapper { max-width: -webkit-calc(1000px - (30px)); max-width: calc(1000px - (30px)); }
  }

.center-image {
  margin: 0 auto;
  display: block;
  }

a.internal-link {
  color: #2a7ae2;
  background-color: #F2F3F4;
  padding:4px;
}

table {
  border: solid 1px #eef;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  margin: 0 auto;
}
thead th {
  background-color: #eef;
  border: solid 1px #eef;
  color: #111;
  padding: 10px;
  min-width: 120px;
}
tbody td {
  border: solid 1px #eef;
  color: #333;
  padding: 10px;
}

blockquote {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-size: 1em;
}

blockquote strong {
  font-weight: 600;
}

.emoji {
  width: 1.2em;
  height: 1.2em;
}

pre, code {
  border: 1px solid #D0D0DF;
  border-radius: 0;
}
